.place__website-url {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0 0 2.9rem 2.4rem;
}
@media screen and (max-width: 400px) {
    .place__website-url {
        margin: 0 0 32px 0;
    }
}
@media screen and (max-width: 320px) {
    .place__website-url {
        margin-left: 5%;
    }
}