.footer__author {
    color: #fff;
    font-size: 14px;
    line-height: 1.15;
    margin: 0;
    align-self: center;
}
@media screen and (max-width: 320px) {
    .footer__author {
        align-self: start;
    }
}