.footer__link {
    text-decoration: none;
    color: white;
    margin-right: 18px;
    font-size: 16px;
    line-height: 1.15;
}
@media screen and (max-width: 767px)  and (min-width: 321px) {
    .footer__link {
        margin-bottom: 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 48px;
    }
}