.lead__title {
    margin: 56px auto 0;
    font-size: 96px;
    line-height: 1.1;
    font-weight: 900;
    color: #fff;
    max-width: 720px;
    text-align: center;
}

@media screen and (max-width: 1280px) and (min-width: 701px) {
    .lead__title {
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 700px) and (min-width: 587px) {
    .lead__title {
        margin: 48px auto 0;
        font-size: 83px;
        line-height: 1.05;
    }
}
@media screen and (max-width: 586px) and (min-width: 426px) {
    .lead__title {
        margin: 48px auto 0;
        font-size: 60px;
        line-height: 1.05;
    }
}
@media screen and (max-width: 425px) and (min-width: 381px) {
    .lead__title {
        margin: 48px auto 0;
        font-size: 54px;
        line-height: 1.05;
    }
}
@media screen and (max-width: 380px) and (min-width: 321px) {
    .lead__title {
        margin: 48px auto 0;
        font-size: 45px;
        line-height: 1.05;
    }
}
@media screen and (max-width: 320px) {
    .lead__title {
        margin: 48px auto 0;
        font-size: 40px;
        line-height: 1.05;
    }
}

