.intro__text {
    max-width: 690px;
    color: #fff;
    font-size: 16px;
    line-height: 1.63;
    margin: 0;
}
@media screen and (max-width: 768px) and (min-width: 451px) {
  .intro__text {
    max-width: 720px;
  }
}
