.lead__subtitle {
    margin: 32px auto 0;
    font-size: 30px;
    line-height: 1.1;
    font-weight: 400;
    color: #fff;
    max-width: 640px;
    text-align: center;
}
@media screen and (max-width: 320px) {
    .lead__subtitle {
        margin: 16px auto 0;
        font-size: 16px;
    }
}
@media screen and (max-width: 490px) and (min-width: 426px) {
    .lead__subtitle {
        font-size: 26px;
    }
}
@media screen and (max-width: 425px) and (min-width: 386px) {
    .lead__subtitle {
        font-size: 23px;
    }
}
@media screen and (max-width: 385px) and (min-width: 321px) {
    .lead__subtitle {
        font-size: 19px;
    }
}